* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #16151a;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  /* small screens */
  .sidebar {
    width: 250px;
  }

  .content {
    margin-left: 272px;
  }

  .search {
    height: 36px;
    width: 300px;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1300px) {
  /* big screens */
  .sidebar {
    width: 308px;
  }

  .content {
    margin-left: 330px;
  }

  .search {
    height: 40px;
    width: 325px;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

.sidebar {
  background-color: #19181d;
  margin: 22px 22px;
  border-radius: 12px;
  height: calc(100vh - 44px);
  position: fixed;
  display: flex;
  margin-right: 0;
}

.content {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-inline: 50px;
}

.search {
  border-radius: 10px;
  border: 1px solid rgba(64, 62, 68, 0.24);
  background: #1e1d23;
}

.search img {
  width: 20px;
  height: 20px;
}
